.menu,
.menugrp {
  position: absolute;
  left: calc(50% - 195px);
}
.menugrp {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-300);
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  width: 73px;
  height: 30px;
}
.menu {
  top: 3.22px;
  left: 9.52px;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: center;
  width: 39.82px;
  height: 18.89px;
}
.menubtn,
.menuicon {
  position: absolute;
  top: 1.11px;
  left: 0;
  width: 63.4px;
  height: 27.78px;
}
.menubtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(100% - 120px );
  left: calc(50% - 36px);
  width: 73px;
  height: 30px;
  z-index: 2 !important;
}
.itemgrp {
  position: absolute;
  top: calc(50% - 57px);
  left: calc(50% - 166.5px);
  border-radius: var(--br-lg);
  border-bottom: 1px dashed var(--color-gray-200);
  box-sizing: border-box;
  width: 333px;
  height: 121px;
}
.itemprice {
  top: calc(50% - 22px);
}
.itemdetails,
.itemheader,
.itemprice {
  position: absolute;
  left: calc(50% - 141.5px);
}
.itemdetails {
  top: calc(50% + 5px);
  font-size: var(--font-size-sm);
  font-family: var(--font-open-sans);
  text-align: left;
  display: inline-block;
  width: 172px;
}
.itemheader {
  top: calc(50% - 51px);
  font-size: var(--font-size-xl);
}
.itemimg-icon {
  position: absolute;
  top: calc(50% - 63px);
  left: calc(50% + 65.5px);
  width: 92px;
  height: 96px;
  object-fit: cover;
}
.addbtnback {
  cursor: pointer;
  border: 1px solid var(--color-gray-300);
  padding: 0;
  background-color: var(--color-gray-100);
  position: absolute;
  top: calc(50% - 11.15px);
  left: calc(50% - 30.5px);
  border-radius: var(--br-md);
  box-sizing: border-box;
  width: 61px;
  height: 24.15px;
}
.addbtntxt {
  top: calc(50% - 8.87px);
  left: calc(50% - 13px);
  font-size: var(--font-size-base);
  font-family: var(--font-oswald);
  color: var(--color-gray-300);
  text-align: center;
  display: inline-block;
  width: 25.1px;
  height: 17.86px;
}
.addbtn,
.addbtntxt,
.plus {
  position: absolute;
}
.plus {
  top: calc(50% - 12.5px);
  left: calc(50% + 22px);
  font-size: var(--font-size-base);
  font-family: var(--font-oswald);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 5px;
  height: 16.67px;
}
.addbtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% + 20px);
  left: calc(50% + 82.5px);
  width: 60px;
  height: 25px;
}
.item {
  position: relative;
  width: 333px;
  height: 126px;
  flex-shrink: 0;
  z-index: 1;
}
.itemcontainer {
  position: static;
  margin-top: 165px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
  font-family: var(--font-oswald);
  overflow-y: scroll;
  height: calc(100vh - 230px);
}
.itemcontainer::-webkit-scrollbar {
  display: none;
}
.inputcon {
  border: 0;
  font-weight: 600;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-xl);
  background-color: transparent;
  position: absolute;
  top: 95px;
  /* left: 42px; */
  text-align: center;
  align-items: center;
  align-self: center;
  left: 10%;
  width: 80%;
  height: 40.29px;
  background-color: white;
  border-radius: 10px;
  outline: none;
}
.logo-icon {
  position: absolute;
  top: 21px;
  left: calc(50% - 30px);
  width: 59px;
  height: 59px;
  overflow: hidden;
}
.hero {
  position: absolute;
  top: 0;
  /* left: calc(50% - 195px); */
  background-color: var(--color-gray-300);
  width: 100%;
  height: 160px;
 
}
.home {
  position: relative;
  background-color: var(--color-white);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
